.auswahlliste img {
  padding:1px;
}
.auswahlliste img.inactive {
  filter: grayscale(100%);
}
.damgrid .dam-item {
  border:2px solid transparent;
}
.damgrid .dam-item.chooseborder,
.damgrid .dam-item.chooseborder.exists {
  border-color:#37802f;
}
.damgrid .dam-item.chooseborder .dam-item-check {
  width:100%;
  height:100%;
  position: absolute;
  top:0px;
}
.damgrid .dam-item-label {
  word-break: break-word;
}
