.damsort {
  position: relative;
  z-index: 1;
}

.damsort ul {
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.damsort ul li {
  display: inline-block;
  cursor: pointer;
}

.damsort ul li > a.dropbutton {
  padding: 1rem 0.5rem;
  border: 1px solid #ccc;
  display: inline-block;
  text-decoration: none;
}

.damsort ul li > a.dropbutton:hover {
  text-decoration: none;
}

.damsort ul li > a.dropbutton::after {
  content: '\25BC';
  margin-left: 0.75rem;
}

.damsort ul li:hover > a.dropbutton::after {
  content: '\25B2';
}

.damsort ul li .dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 1rem;
}

.damsort ul li:hover .dropdown {
  display: block;
  position: absolute;
}

.damsort ul li:hover .dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}