.damgrid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  align-items: center;
  text-align: center;
}
.damgrid .dam-item {
  position: relative;
}
.damgrid .dam-item .recreate.hidden {
  display:none;
}
.damgrid .dam-item .recreate {
  position: relative;
  z-index: 2;
}
.damgrid .dam-item .recreate input {
  vertical-align: middle;
  margin-left: 5px;
}
.damgrid .dam-item.exists {
  border:2px dashed #ccc;
}
.damgrid .dam-item-check {
  background: transparent url("../images/check.svg") no-repeat center center;
  background-size: 50px 50px;
}
.entity-browser-form .auswahlliste {
  margin:1rem 0;
}
.dam-pager {
  text-align: center;
  margin:1rem 0;
}
.dam-pager ul.pagination {
  list-style: none;
  margin:0;
  padding:0;
}
.dam-pager ul.pagination li.page-item {
  display: inline-block;
}
.dam-pager ul.pagination li.page-item a {
  padding:0.5rem;
  margin:0 0.1rem;
  border:1px solid #ccc;
  border-radius: 5px;
}
#edit-actions .disabled-button {
  cursor: not-allowed;
  pointer-events: none;
}