{% if sorting %}
    {{ sorting }}
{% endif %}
<div class="damgrid">
  {% for item in items %}
    {{ item }}
  {% endfor %}
</div>
<div class="dam-pager">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% for page in pager %}
        <li class="page-item">{{ page }}</li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% if pages %}
    <div>{{ current_page }}</div>
    <div>{{ pages }}</div>
{% endif %}
