{% apply spaceless %}
<div>
    {{ thumb }}
    <div class="dam-item-label">
        {{ label }}
        {% if filesize or filemime %}
            (
            {% if filesize %}
                {{ filesize }}
            {% endif %}
            {% if filesize and filemime %}
                /
            {% endif %}
            {% if filemime %}
                {{ filemime }}
            {% endif %}
            )
        {% endif %}
    </div>
</div>
{% endapply %}