{{ attach_library('drupal_dam/damsort') }}
<div class="damsort">
    <ul>
        <li><a class="dropbutton" href="#">{{ label }}</a>
            <div class="dropdown">
                <ul>
                    {% for sort in sorting %}
                        <li>
                            {{ sort }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>
</div>